# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Halo\Desktop\Coding\Java Programming Masterclass for Software Developers\JavaSpring\spring5-recipe-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
